
.vs/TextNbody/v16/.suo
.vs/TextNbody/v16/.suo
.vs/TextNbody/v16/.suo
*.db
*.db-shm
.vs/TextNbody/v16/Browse.VC.db
.vs/TextNbody/v16/Browse.VC.db-wal
*.opendb
*.ipch
*.db
.vs/TextNbody/v16/.suo
*.exe
*.recipe
Debug/TextNbody.exe.recipe
Debug/TextNbody.ilk
Debug/TextNbody.exe
Debug/TextNbody.exe.recipe
Debug/TextNbody.ilk
Debug/TextNbody.log
Debug/textnbody.obj
Debug/TextNbody.pdb
Debug/TextNbody.exe
Debug/TextNbody.exe.recipe
Debug/TextNbody.ilk
Debug/TextNbody.log
Debug/textnbody.obj
Debug/TextNbody.pdb
Release/vc142.pdb
Release/TextNbody.vcxproj.FileListAbsolute.txt
Release/TextNbody.tlog/TextNbody.write.1u.tlog
Release/TextNbody.tlog/TextNbody.lastbuildstate
Release/TextNbody.tlog/link.write.1.tlog
Release/TextNbody.tlog/link.read.1.tlog
Release/TextNbody.tlog/link.command.1.tlog
Release/TextNbody.tlog/CL.write.1.tlog
Release/TextNbody.tlog/CL.read.1.tlog
Release/TextNbody.tlog/CL.command.1.tlog
Release/TextNbody.pdb
Release/textnbody.obj
Release/TextNbody.log
Release/TextNbody.ipdb
Release/TextNbody.iobj
Debug/vc142.pdb
Debug/vc142.idb
Debug/TextNbody.vcxproj.FileListAbsolute.txt
Debug/TextNbody.tlog/TextNbody.lastbuildstate
Debug/TextNbody.tlog/link.write.1.tlog
Debug/TextNbody.tlog/link.read.1.tlog
Debug/TextNbody.tlog/link.command.1.tlog
Debug/TextNbody.tlog/CL.write.1.tlog
Debug/TextNbody.tlog/CL.read.1.tlog
Debug/TextNbody.tlog/CL.command.1.tlog
Debug/TextNbody.pdb
Debug/textnbody.obj
Debug/TextNbody.log
Debug/TextNbody.ilk
Debug/TextNbody.exe.recipe
Debug/TextNbody.exe
.vs/TextNbody/v16/Browse.VC.db
.vs/TextNbody/v16/.suo
Debug/vc142.pdb
Debug/vc142.idb
Debug/TextNbody.vcxproj.FileListAbsolute.txt
Debug/TextNbody.tlog/TextNbody.lastbuildstate
Debug/TextNbody.tlog/link.write.1.tlog
Debug/TextNbody.tlog/link.read.1.tlog
Debug/TextNbody.tlog/link.command.1.tlog
Debug/TextNbody.tlog/CL.write.1.tlog
Debug/TextNbody.tlog/CL.read.1.tlog
Debug/TextNbody.tlog/CL.command.1.tlog
Debug/TextNbody.pdb
Debug/textnbody.obj
Debug/TextNbody.log
Debug/TextNbody.ilk
Debug/TextNbody.exe.recipe
Debug/TextNbody.exe
.vs/TextNbody/v16/Browse.VC.db
.vs/TextNbody/v16/.suo
